
.formulario{
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

.entrada{
  display: flex;
  flex-direction: column;
}

.titulo{
  color: rgba(243, 244, 246);
  font-size: 1rem;
  line-height: 1.5rem;
}

.input{
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  padding: 0.5rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.registrate{
  color:rgb(147, 197, 253);
  text-decoration: underline;
  font-size: 0.875rem;
  line-height: 1.25rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.btningresar{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-radius: 0.5rem;
  background-color: rgba(96, 165, 250);
  color: black;
  border-width: 2px;

}

.btningresar:hover{
  background-color: rgba(30, 64, 175);
  color: white;
}

.contpadre{
  /* Altura */
  height: 100vh;

  /* flexibilidad */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Estilos netos */
  background-color: black;
  color:white;
  gap: 3;
}

.btningreso{
  /* Flexibilidad */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Rellenos */
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  /* Estilos Netos */
  outline: 2px solid transparent;
  outline-offset: 2px;
  color:rgba(75, 85, 99);
  border-width:2px;
  border-radius: 0.375rem;
  border-color: white;
  font-size: 1.5rem;
}


.btningreso:hover{
  /* Estilos netos */
  background-color: black;
  color: white;
}
