<main>
  <div class="contenedor">
    <div [routerLink]="['pokemons']"   class="menuopc"> <span><svg-icon src="assets/img/user.svg"></svg-icon></span> <span>pokemons</span> </div>
    <div [routerLink]="['digimons']"   class="menuopc"> <span><svg-icon src="assets/img/star.svg"></svg-icon></span> <span>digimos</span> </div>
    <div [routerLink]="['medabots']"   class="menuopc"> <span><svg-icon src="assets/img/book.svg"></svg-icon></span> <span>medabots</span> </div>
  </div>

</main>
