<body class="h-[100vh] cuerpo">

<!-- navbar -->
<nav class="nav"> <app-header></app-header></nav>
<!-- Sidebar - Rutas -->
<main class="main flex w-full ">
  <!-- Sidebar -->
  <div class="w-2/12 bg-gray-100">
    <app-menu></app-menu>
  </div>
  <!-- Rutas -->
  <div class="w-11/12 p-4">
    <h1>Bienvenido</h1>
    <router-outlet></router-outlet>
  </div>
</main>

</body>

